<!DOCTYPE html>
<html lang="en">

<header> TP Sambet Mathys</header>

<form id="knowledge">
    <label>Importer vos regles : </label>
    <input type="text" id="name" name="name" size = "100"/>
    <button type="submit">Envoyer</button>
</form>

<label>liste arguments :</label>
<div id="arg">
    
</div>

<label>liste undercuts :</label>
<div id="undercuts">
    
</div>

<label>liste rebuts :</label>
<div id="rebuts">
    
</div>

<form id="myForm">
  <label for="choice">Choisissez une option :</label>
  <select id="choice" name="choice">
    <option value="option1">Weakest/Democratic</option>
    <option value="option2">Weakest/Elitist</option>
    <option value="option3">Last-Link/Democratic</option>
    <option value="option4">Last-Link/Elitist</option>
  </select>
  <button type="submit">Envoyer</button>
</form>

<label>liste defeats :</label>
<div id="defeats">
    
</div>

</html>
